*.xlsx
*.csv
*.numbers
*.out
*.html
*files
*.raw
*.gsheet
# added by GitSavvy
/Icon

/__pycache__/

/.DS_Store

/registered_programs.log

/dgw_info/.DS_Store

/dgw_info/queries/

/dgw_info/query_archive/

/dgw_info/downloads/
